
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        .k-grid tbody .k-button {
            width: 35px;
            height: 35px;
            min-width: 0px;
            /*font-size: 24px;*/
            border-radius: 100%;
            text-align: center;
            border: none;
        }

        .k-window-content p {
            margin-bottom: 1em;
        }

        .k-prompt-container, .k-window-content {
            padding: 5px;
        }

        .btn btn-primary {
            float: right;
        }
    </style>
}
@section RouterPage{
    <h2> Lưu Kho</h2>
}

<div class="row">
    <div id="gridDetail" style="width: 100%; height: 650px;"></div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            var grid = $(this).find('#gridDetail');
            grid.kendoGrid({
                dataSource: {
                    type: "json",
                    //pageSize: 10,
                },
                dataBinding: function () {
                    record = 0;
                },
                sortable: false,
                scrollable: true,
                // pageable: true,
                filterable: true,
                columns: [
                    {
                        title: "STT",
                        template: "#= ++record #",
                        width: 50,
                        maxwidth: 70,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "IDHoSo",
                        title: "IDHoSo",
                        hidden: true
                    },

                    {
                        field: "TomTatHoSo",
                        title: "Tóm tắt hồ sơ",
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }, filterable: {
                            multi: true,
                            search: true
                        }
                    },
                    {
                        field: "TenLoaiHoSo",
                        title: "Loại hồ sơ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NguoiChuyenQSDD",
                        title: "Người chuyển QSDĐ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NguoiNhanQSDD",
                        title: "Người nhận QSDĐ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        command: [
                            {
                                name: "BienLai",
                                iconClass: "k-icon k-i-download",
                                text: "",
                                width: 45,
                                className: "btnxxx",
                                click: LuuKho
                            }
                        ]
                        , title: ""
                        , width: "70px"
                        , headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    }
                ]
            });

            LoadData();

            var myWindowThemMoi = $("#windowThemMoi");
            myWindowThemMoi.kendoWindow({
                width: "500px",
                height: "250px",
                title: "Xử lý biên lai",
                visible: false,
                resizable: false,
                actions: [
                    "Close"
                ]
            }).data("kendoWindow").center();

        });

        function LoadData() {
            var lstBaoCao;
            $.ajax({
                type: "GET",
                url: "/LuuKho/DanhSachHoSo",
                async: false,
                dataType: 'json',
                success: function (data) {
                    lstBaoCao = data.Data;
                },
                error: function (data) {
                    console.log(data.Message);
                    dataSource = null;
                }
            });

            $("#gridDetail").data("kendoGrid").setDataSource(lstBaoCao);
        }
        function LuuKho(e) {
            e.preventDefault();
            var grid = this;
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var IDHoSo = dataItem.IDHoSo;

            if (confirm("Bạn có muốn lưu kho hồ sơ ")) {
                $.ajax({
                    type: "POST",
                    url: "/LuuKho/LuuKhoHoSo",
                    data: "{IDHoSo: '" + dataItem.IDHoSo + "'}"
                    ,
                    async: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.State == 0 && data.Data) {

                            alert("Lưu kho thành công");
                            LoadData();
                        }
                        else {
                            alert(data.Message);
                        }
                    },
                    error: function (data) {
                        alert("Lưu kho thất bại", data.Message);
                    },
                    complete: function () {
                    }
                });
            }
        }

    </script>


}