
@{
    ViewBag.Title = "Xử lý biên lai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        .k-grid tbody .k-button {
            width: 35px;
            height: 35px;
            min-width: 0px;
            /*font-size: 24px;*/
            border-radius: 100%;
            text-align: center;
            border: none;
        }

        .k-window-content p {
            margin-bottom: 1em;
        }

        .k-prompt-container, .k-window-content {
            padding: 5px;
        }

        .btn btn-primary {
            float: right;
        }
    </style>
}

@section RouterPage{
    <h2>Xử lý biên lai</h2>
}

<div class="row" style="padding-left:5px; padding-right:5px;">

    <div class="row">
        <div id="gridDetail" style="width: 100%; height: 650px;"></div>
    </div>
</div>

<div id="windowThemMoi">
    <input type="hidden" id="IDHoSo" />
    <div style="margin-left: 5px; margin-right:5px;">
        <div class="row" style="padding:10px 0 20px 0">
            <div class="col-sm">
                <label class="title" for="duAn">Tóm tắt hồ sơ</label><br />
                <input id="TomTatHoSo" style="width:100%" disabled />
            </div>
        </div>
        <b style="font-size: 16px; font-family: Roboto; padding-top:15px; padding-left:5px">Thông tin biên lai</b><br />
        <div class="row" style="padding: 7px 0 10px 0">
            <div class="col-sm">
                <label class="title" for="tgBatDau">Ngày biên lai</label><br />
                <input id="NgayBienLai" title="datetimepicker" style="width: 100%;" />
            </div>
            <div class="col-sm">
                <label class="title" for="tgKetThuc">Ngày hẹn trả</label><br />
                <input id="NgayHenTraGiayChungNhan" title="datetimepicker" style="width:100%" />
            </div>
        </div>

        <div class="row" style="padding: 15px 0 10px 0">

            <div class="col-sm-10">
            </div>
            <div class="col-sm">
                <button id="btnSave" onclick="LuuBienLai()" class="btn btn-primary" style="width: 40px; height: 20px; float:right;">Lưu</button><br />
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#NgayBienLai").kendoDateTimePicker({
                value: new Date(),
                format: "dd/MM/yyyy",
                dateInput: true,
                max: new Date(),
            });
            $("#NgayHenTraGiayChungNhan").kendoDateTimePicker({
                value: new Date(),
                format: "dd/MM/yyyy",
                dateInput: true,
                min: new Date(),
            });

            var grid = $(this).find('#gridDetail');
            grid.kendoGrid({
                dataSource: {
                    type: "json",
                    //pageSize: 10,
                },
                dataBinding: function () {
                    record = 0;
                },
                sortable: false,
                scrollable: true,
                // pageable: true,
                filterable: true,
                columns: [
                    {
                        title: "STT",
                        template: "#= ++record #",
                        width: 50,
                        maxwidth: 70,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "IDHoSo",
                        title: "IDHoSo",
                        hidden: true
                    }, 
                    {
                        field: "NgayBienLai",
                        title: "NgayBienLai",
                        hidden: true
                    }, 
                    {
                        field: "NgayHenTraGiayChungNhan",
                        title: "NgayHenTraGiayChungNhan",
                        hidden: true
                    }, 
                    {
                        field: "TomTatHoSo",
                        title: "Tóm tắt hồ sơ",
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }, filterable: {
                            multi: true,
                            search: true
                        }
                    },
                    {
                        field: "TenLoaiHoSo",
                        title: "Loại hồ sơ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NguoiChuyenQSDD",
                        title: "Người chuyển QSDĐ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NguoiNhanQSDD",
                        title: "Người nhận QSDĐ",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: left; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NgayBienLai_Text",
                        title: "Ngày biên lai",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        field: "NgayHenTraGiayChungNhan_Text",
                        title: "Ngày hẹn trả",
                        format: "{0:MM/dd/yyyy}",
                        width: 100,
                        headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    },
                    {
                        command: [
                            {
                                name: "ThuLy",
                                iconClass: "k-icon k-i-track-changes-accept",
                                text: "",
                                width: 45,
                                className: "btnxxx",
                                click: TiepNhan
                            }
                        ]
                        , title: ""
                        , width: 50
                        , headerAttributes: {
                            "class": "table-header-cell",
                            style: "text-align: center; font-size: 16px; font-weight: bold; white-space: normal; vertical-align: middle"
                        },
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: center; font-size: 14px; white-space: normal; vertical-align: middle"
                        }
                    }
                ]
            });

            LoadData();

            var myWindowThemMoi = $("#windowThemMoi");
            myWindowThemMoi.kendoWindow({
                width: "500px",
                height: "250px",
                title: "Xử lý biên lai",
                visible: false,
                resizable: false,
                actions: [
                    "Close"
                ]
            }).data("kendoWindow").center();

        });

        function LoadData() {
            var lstBaoCao;
            $.ajax({
                type: "GET",
                url: "/BienLai/DanhSachHoSo",
                async: false,
                dataType: 'json',
                success: function (data) {
                    lstBaoCao = data.Data;
                },
                error: function (data) {
                    console.log(data.Message);
                    dataSource = null;
                }
            });

            $("#gridDetail").data("kendoGrid").setDataSource(lstBaoCao);
        }
        function TiepNhan(e) {
            e.preventDefault();
            var grid = this;
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var IDHoSo = dataItem.IDHoSo;

            $("#IDHoSo").val(dataItem.IDHoSo);
            $("#TomTatHoSo").val(dataItem.TomTatHoSo);
            $("#NgayBienLai").data("kendoDateTimePicker").value(dataItem.NgayBienLai);
            $("#NgayHenTraGiayChungNhan").data("kendoDateTimePicker").value(dataItem.NgayHenTraGiayChungNhan);

            var myWindowThemMoi = $("#windowThemMoi");
            myWindowThemMoi.data("kendoWindow").open();
        }

        function LuuBienLai() {
            var IDHoSo = $("#IDHoSo").val();
            var NgayBienLai = $("#NgayBienLai").val();
            var NgayHenTraGiayChungNhan = $("#NgayHenTraGiayChungNhan").val();
            $('#btnSave').attr("disabled", true);
            $.ajax({
                type: "POST",
                url: "/BienLai/CapNhatBienLai",
                data: "{IDHoSo: '" + IDHoSo
                    + "', NgayBienLai: '" + NgayBienLai
                    + "', NgayHenTraGiayChungNhan: '" + NgayHenTraGiayChungNhan+ "'}"
                ,
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.State == 0 && data.Data) {

                        alert("Lưu thông tin biên lai thành công");
                        $("#IDThuaDat").val(data.Message);

                        $("#windowThemMoi").data("kendoWindow").close();
                        LoadData();
                    }
                    else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert("Lưu biên lai thất bại", data.Message);
                },
                complete: function () {
                    // enable nut luu
                    $('#btnSave').attr("disabled", false);
                }
            });
        }
    </script>


}